In [1]:
import pandas as pd
import os

# Définir l'affichage de toutes les colonnes
pd.set_option('display.max_columns', None)

In [2]:
os.getcwd()

'/workspaces/projet-immo/notebooks'

In [3]:
fonciere_data = pd.read_csv("/workspaces/projet-immo/data/fonciere.csv",sep=";")

Liste des acronymes  

**CA** : Communauté d’agglomération  
**CC** : Communauté de communes  
**CU** : Communauté urbaine  
**MET** : Métropole  
**TEOM** : Taxe d’enlèvement des ordures ménagères  
**TFB** : Taxe foncière sur les propriétés bâties  
**TFNB** : Taxe foncière sur les propriétés non bâties  
**TH** : Taxe d’habitation  
**THRS** : Taxe d’habitation sur les résidences secondaires  
**THLV** : Taxe d’habitation sur les logements vacants

In [4]:
colonnes_etude = ["EXERCICE","REG","LIBREG","DEP","LIBDEP","COM","LIBCOM","Taux_Global_TFNB","Taux_Global_TFB"]

In [5]:
fonciere_data.loc[(fonciere_data["EXERCICE"]==2023),colonnes_etude].head()

,EXERCICE,REG,LIBREG,DEP,LIBDEP,COM,LIBCOM,Taux_Global_TFNB,Taux_Global_TFB
1131,2023,44,GRAND-EST,55,MEUSE,113,CHEPPY,71.06,43.20
1132,2023,44,GRAND-EST,55,MEUSE,133,COUVERTPUIS,86.67,43.78
1133,2023,44,GRAND-EST,55,MEUSE,143,DAMLOUP,89.61,50.34
1134,2023,44,GRAND-EST,55,MEUSE,163,DONCOURT AUX TEMPLIERS,83.07,45.23
1135,2023,44,GRAND-EST,55,MEUSE,168,DUZEY,75.37,47.48

In [6]:
fonciere_data.loc[(fonciere_data["DEP"]=="75")&(fonciere_data["EXERCICE"]==2023),colonnes_etude]

,EXERCICE,REG,LIBREG,DEP,LIBDEP,COM,LIBCOM,Taux_Global_TFNB,Taux_Global_TFB
21143,2023,11,ILE-DE-FRANCE,75,PARIS,56,VILLE DE PARIS,28.86,21.15

Formule de calcul de la taxe fonciere

Taxe foncière = (Valeur locative cadastrale×50%) × Taux d’imposition

ValeurLocativeCadastrale = Surface pondérée x Tarif au m² x Coefficient de localisation [0,7-1,3] x Coefficient d'entretien [0,9-1,1]

Le coefficient de localisation peut varier de 0,7 à 1,3 selon la situation du bien dans la commune. Le coefficient d'entretien, quant à lui, oscille généralement entre 0,9 et 1,1 en fonction de l'état du bâtiment.

In [23]:
def taxe_fonciere(valeur_locative_cadastrale:float,taux_taxe_fonciere:float)->float:
    return valeur_locative_cadastrale*12*0.5*taux_taxe_fonciere

def valeur_locative_cadastrale(surface_ponderee:float,tarif_m2:float,coeff_localisation:float,coeff_entretien:float)->float:
    return surface_ponderee*tarif_m2*coeff_localisation*coeff_entretien

In [28]:
vlc = valeur_locative_cadastrale(65,20.3,0.95,0.9)
taxe_fonciere(vlc,0.2115)

1431.6509025

In [30]:
loyapp_52m2 = pd.read_csv("/workspaces/projet-immo/data/loyapp_52m2.csv",sep=";",encoding="latin-1")

In [31]:
loyapp_52m2

,id_zone,INSEE_C,LIBGEO,EPCI,DEP,REG,loypredm2,lwr.IPm2,upr.IPm2,TYPPRED,nbobs_com,nbobs_mail,R2_adj
0,1,86051,Champagné-le-Sec,200070035,86,75,"8,48108601820233","6,60248185247569","10,8942094284101",maille,0,1044,"0,719908446134695"
1,1,16136,La Faye,200043016,16,75,"8,48108601820233","6,60248185247569","10,8942094284101",maille,4,1044,"0,719908446134695"
2,1,16002,Les Adjots,200043016,16,75,"8,48108601820233","6,60248185247569","10,8942094284101",maille,2,1044,"0,719908446134695"
3,1,79150,Limalonges,200069755,79,75,"8,48108601820233","6,60248185247569","10,8942094284101",maille,3,1044,"0,719908446134695"
4,1,16104,Condac,200043016,16,75,"8,48108601820233","6,60248185247569","10,8942094284101",maille,11,1044,"0,719908446134695"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34955,DOM_9,97304,Kourou,200027548,973,3,"15,9611624882161","12,4535990029436","20,4566332925142",commune,759,773,"0,737270682644529"
34956,DOM_9,97362,Papaichton,249730037,973,3,"13,3164044517987","10,3268119743639","17,1714782804308",maille,1,773,"0,737270682644529"
34957,DOM_9,97358,Saint-Élie,200027548,973,3,"13,3164044517987","10,3268119743639","17,1714782804308",maille,0,773,"0,737270682644529"
34958,DOM_9,97353,Maripasoula,249730037,973,3,"13,3164044517987","10,3268119743639","17,1714782804308",maille,13,773,"0,737270682644529"
34959,DOM_9,97356,Camopi,249730052,973,3,"13,3164044517987","10,3268119743639","17,1714782804308",maille,0,773,"0,737270682644529"

In [58]:
loyapp_52m2.loc[loyapp_52m2["LIBGEO"].str.contains('Paris 20')]

,id_zone,INSEE_C,LIBGEO,EPCI,DEP,REG,loypredm2,lwr.IPm2,upr.IPm2,TYPPRED,nbobs_com,nbobs_mail,R2_adj
19703,2784,75120,Paris 20e Arrondissement,200054781,75,11,"28,2934969807634","22,7823838781976","35,1377615125937",commune,14701,14701,"0,898130318666813"

In [45]:
float(loyapp_52m2.loc[loyapp_52m2['INSEE_C']=="75120","loypredm2"].values[0].replace(",","."))*0.8

22.634797584610723

In [55]:
float(fonciere_data.loc[(fonciere_data['LIBCOM'].str.contains("VILLE DE Paris".upper())) & (fonciere_data["EXERCICE"]==2023),"Taux_Global_TFB"].values[0])*0.01

0.2115